:root {
    --color-input : #CCDECE;
    --color-backgroundpages : #F2F3F5;
    --color-button : #92E085;
    --color-buttonhover : #347A5B;
    --color-input-text : #888;
    --color-buttontext-hover : #fff;
    --color-bacground-graybox: #C7C7C7;
    --color-background-help : #C8F4CC;
    --color-text-blackgray : #333;
    --color-background-select : #67BF59;
    --color-inputfocus : #7FBEA2;
    --fontfam-title : IRsansBold;
    --fontfam-text : IRsansRegular;
}
@font-face {
    font-family: IRsansBold;
    src: url(../assests/fonts/IRANSansXFaNum-Bold.woff2)format("woff2");
}
@font-face {
    font-family: IRsansRegular;
    src: url(../assests/fonts/IRANSansXFaNum-Regular.woff2)format("woff2");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body {
    background-color: var(--color-backgroundpages);
}
.container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    direction: rtl;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.header__text { 
    font-family: var(--fontfam-title);
    font-size: 3.2rem;
    animation-name: indextitle;
    animation-duration: 2s;
}
@keyframes indextitle{
    0% {
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}
.description { 
    width: 85%;
    background-color: var(--color-bacground-graybox);
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    margin-top: 15px;
    border-radius: 50px 0px;
}
.description__text {
    font-family: var(--fontfam-text);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    animation: desctxt;
    animation-duration: 5s;
}
@keyframes desctxt {
    0% {
        opacity: 0;
        translate: 0px 100px;
    }
    50% {
        opacity: 0;
        translate: 0px 80px;
    }
    100% {
        translate: 0px 0px;
        opacity: 1;
    }
}
.description__logo {
    display: none;
    animation: desclogo;
    animation-duration: 3s;
}
@keyframes desclogo {
    0% {
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    width: 85%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 20px;
    animation-name: indextit;
    animation-duration: 6.5s;
}
@keyframes indextit{
    0% {
        scale: 0;
        opacity: 0;
    }
    50% {
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}
.title__text {
    font-family: var(--fontfam-title);
    color: var(--color-text-blackgray);
    font-size: 1.6rem;
    text-align: center;
}
.formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0px auto;
}

.formbox__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    margin-top: 10px;
}
.form__input {
    width: 100%;
    background-color: var(--color-input);
    width: 100%;
    padding-right: 14px;
    display: flex;
    align-items: center;
    border: 0px;
    outline: none;
    margin-bottom: 10px;
    height: 40px;
    font-family: var(--fontfam-text);
    font-size: 1.6rem;
    text-align: right;
    color: black;
}
.form__input::placeholder {
    font-family: var(--fontfam-text);
    color: var(--color-input-text);
    font-size: 1.6rem;
    text-align: right;
}
.form__input:focus {
    border: 0px;
    outline: none;
    background-color: var(--color-inputfocus);
    font-size: 1.7rem;
    color: black;
    font-family: var(--fontfam-text);
}
.name {
    border-radius: 25px 0px 0px 0px;
    animation-name: nameinput;
    animation-duration: 7.5s;
}
@keyframes nameinput {
    0% {
        translate: 150px 0px;
        opacity: 0;
    }
    69% {
        translate: 150px 0px;
        opacity: 0;
    }
    100% {
        translate: 0px 0px;
        opacity: 1;
    }
}
.family {
    animation-name: faminput;
    animation-duration: 7.5s;
}
@keyframes faminput {
    0% {
        translate: 150px 0px;
        opacity: 0;
    }
    60% {
        translate: 150px 0px;
        opacity: 0;
    }
    100% {
        translate: 0px 0px;
        opacity: 1;
    }
}
.phone {
    animation-name: phoneinput;
    animation-duration: 7.5s;
}
@keyframes phoneinput {
    0% {
        translate: 150px 0px;
        opacity: 0;
    }
    73% {
        translate: 150px 0px;
        opacity: 0;
    }
    100% {
        translate: 0px 0px;
        opacity: 1;
    } 
}
.email {
    border-radius: 0px 0px 25px 0px;
    animation-name: mailinput;
    animation-duration: 7.5s;
}
@keyframes mailinput {
    0% {
        translate: 150px 0px;
        opacity: 0;
    }
    65% {
        translate: 150px 0px;
        opacity: 0;
    }
    100% {
        translate: 0px 0px;
        opacity: 1;
    }
}
.button {
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-button);
    color: black;
    margin-top: 10px;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    animation-name: but;
}
.button:hover {
    background-color: var(--color-buttonhover);
    color: var(--color-buttontext-hover);
    font-weight: bold;
    animation-name: buthover;
    animation-duration: 1.2s;
    animation-iteration-count: infinite ;
}
@keyframes buthover {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}
.button__text {
    font-family: var(--fontfam-text);
    font-size: 1.6rem;
    font-weight: 400;
}
.logomobile {
  width: 100%;
  cursor: pointer;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.logomobile__img {
    width: 280px;
    height: 116px;
    margin-top: 35px;
    margin-bottom: 25px;
}
.erorr__input {
    width: 85%;
    padding: 5px;
    padding-right: 30px;
    margin: 0px auto;
    justify-content: center;
    display: flex;
    align-items: center;
}
.eror__input-text {
    font-family: var(--fontfam-text);
    font-size: 1.3rem;
    color: lightcoral;
    text-align: center;
}
@media (min-width: 760px) {
    .logomobile {
        display: none;
    }
    .button {
        margin-bottom: 30px;
    }
    .description {
        flex-flow: row-reverse;
    }
    .description__logo {
        display: unset;
    }
    .description__logo-img {
        width: 210px;
        height: 210px;
    }
    .form__input {
        height: 70px;
    }
    .form__input {
        font-size: 2rem;
    }
    .form__input::placeholder {
        font-size: 2rem;
    }
    .form__input:focus {
        font-size: 2rem;
    }
    .title__text {
        font-size: 2rem;
    }
    .header__text {
        font-size: 6rem;
    }
    .button {
        height: 75px;
    }
    .button__text {
        font-size: 2.6rem;
    }
    .button:hover {
        font-size: 2.6rem;
    }
    .eror__input-text {
        font-size: 1.8rem;
    }

}
@media (min-width: 1024px) {
    .description__logo-img {
        width: 250px;
        height: 250px;
    }
    .description__text {
        font-size: 1.7rem;
    }
    .formbox__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;
    }
    .form__input {
        width: 49%;
        height: 70px;
    }
    .name {
        border-radius: 0px;
        margin-left: 1%;
    }
    .family {
        border-radius: 35px 0px 0px 0px;
    }
    .phone {
        border-radius: 0px 0px 35px 0px;
        margin-left: 1%;
    }
    .email {
        border-radius: 0px;
    }
    .button {
        width: 300px;
        border-radius: 30px;
    }
    .title__text {
        font-size: 2.8rem;
    }
    .eror__input-text {
        font-size: 2rem;
    }
}
@media (min-width: 1240px) {
    .description__text {
        font-size: 2rem;
    }
}
