@font-face {
    font-family: IRsansB;
    src: url(../assests/fonts/IRANSansXFaNum-Bold.woff2) format("woff2");
}
@font-face {
    font-family: IRsansR;
    src: url(../assests/fonts/IRANSansXFaNum-Regular.woff2) format("woff2");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
.conta {
    width: 80%;
    margin: 0px auto;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.boxquestion {
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: lightgreen;
    border: 1px solid black;
    flex-flow: column;
    padding: 20px;
    margin: 3px;
}
.question {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-family: IRsansB;
}
.switch {
    cursor: pointer;
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    font-size: 1.5rem;
    font-family: IRsansR;
}
.switch:hover {
    background-color: lightcoral;
}
.submit {
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: red;
    border: 1px solid black;
    flex-flow: column;
    padding: 20px;
    margin: 3px;
    cursor: pointer;
    font-size: 2.5rem;
    font-family: IRsansB;
}